div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

p {
    font-size: larger;
}

a {
    font-weight: bold;
}

/* FF88+ */
button {
    background-color: rgba(255,255,255,0.1)
}

button:hover:not([disabled]) {
    background-color: rgba(255,255,255,0.3)
}